body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app-container {
  width: 80%;
  max-width: 600px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.poll-quiz {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.poll-list button {
  padding: 10px;
  margin: 5px;
  border: none;
  background: #007bff;
  color: black;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.poll-list button:hover {
  background: #0056b3;
}

canvas {
  margin-top: 20px;
  max-width: 600px;
}
